@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

:root{
    --color-n2: #6bb6b5;
    --opacity: 0.5;
}

h1,h2{
    font-family: "DM Serif Text", sans-serif;
}

h3,h4,h5,h6 {
    font-weight: 600;
    color: var(--colorStorie);
}

#panel-story {
    padding: 0!important;
}

.slide__item {
    padding: 0;
    margin: 0 !important;
}

.slide__item[item-type="intro"], .slide__item[item-type="data"] {
    padding: 1.5em 2em 1em;
}

.slide__item>.template__data, .slide__item>.template__zoom, .slide__item>.template__intro {
    margin-bottom: 10em;
}

/* Btns controls Story */

#customControlStory {
    position: fixed;
    left: 1em;
    top: 1em;
    display: flex;
    gap: 10px;
}

.btn__controlStory {
    width: 50px;
    height: 50px;
    color: white;
    background-color: var(--colorStorie);
    border: none;
    padding: 15px;
    border-radius: 1em;
    display: flex;    
    transition: 0.5s;
    opacity: 1;
}

.btn__controlStory:hover {
    opacity: 0.7;
    scale: 1.1;
}

        /* Animation pour l'agrandissement du bouton */
        .btn__controlLegend.expand {
            transform: scale(1.2);
        }

        /* Style du bloc de légende */
        .legend__block {
            display: none;
            background-color: white;
            padding: 20px;
            border-radius: 15px;
            margin-top: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 300px;
    line-height: 1;
    font-size: 15px;
        }
.legend__itemGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.legend__block a {
    color: var(--colorStorie);
    font-weight: 800;
    text-decoration: none;
    border-bottom: 2px solid var(--colorStorie);
}


/* Timeline */
.timeline__block {
    background-color: #f9f9f9;
    width: 100%;
    height: 6em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    z-index: 100;
    position: fixed;
    bottom: 10px;
}

.timeline__year {
    display: block;
}

.timeline__year.border {
    border-left: 1px solid #b1b1b1;
}

.timeline__year span {display: none;}


.timeline__year.border span{
    display: block;
    font-size: 11px;
    font-weight: 500;
    padding: 2px;
    color: #b1b1b1;
    position: absolute;
}

.timelineItems_list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 6em;
}
.timeline__itemHover {
    background-color: var(--colorStorie);
    color: white;
    padding: 2px 7px;
    border-radius: 10px;
    display: none;
    min-width: max-content;
    font-size: small;
    position: absolute;
    left: 1em;
}

.timeline__itemPoint {
    background-color: var(--colorStorie);
    font-size: x-large;
    width: 8px;
    height: 8px;
    border-radius: 1em;
}

.timeline__itemPeriode{
    background-color: var(--colorStorie);
    font-size: x-large;
    width: 6px;
    height: 6px;
    border-radius: 1em;
    position: fixed;
    z-index: 100;
}

.timeline__itemPoint:hover, .timeline__itemPeriode:hover {
    background-color:var(--colorStorie);
    cursor:pointer;
}

.timeline__itemPoint:hover  .timeline__itemHover, .timeline__itemPeriode:hover .timeline__itemHover {
    display: inline-flex !important;
}

/* Periode and date timeline */
.timeline__item a {
    border-radius: 10em;
    background-color:none!important;
}
.timeline__active > a > * {
    outline: 7px solid #bdbdbd78;
}
.time__n_01 > a > *{
    background-color: var(--color-n2);
}
.time__n_01.timeline__active > a > *{
    outline-color: color-mix(in srgb, var(--color-n2) 50%, white);
}
.time__n_02 > a > *{
    background-color: var(--color-n2);
}
.time__n_02.timeline__active > a > *{
    outline-color: color-mix(in srgb, var(--color-n2) 50%, white);
}
.time__n_03 > a > *{
    background-color: var(--color-n2);
}
.time__n_03.timeline__active > a > *{
    outline-color: color-mix(in srgb, var(--color-n2) 50%, white);
}
.time__n_04 > a > *{
    background-color: var(--color-n2);
}
.time__n_04.timeline__active > a > *{
    outline-color: color-mix(in srgb, var(--color-n2) 50%, white);
}

.time__n_01 .timeline__itemPeriode {
    bottom: 20px;
}
.time__n_02 .timeline__itemPeriode {
    bottom: 30px;
}
.time__n_03 .timeline__itemPeriode {
    bottom: 40px;
}
.time__n_04 .timeline__itemPeriode {
    bottom: 50px;
}


/* Affichage des dates selon le zoom */

#customTimeline[item-corpus='n_01'] .timeline__item:not(.time__n_01){
    display:none;
}
#customTimeline[item-corpus='n_02'] .timeline__item:not(.time__n_02){
    display:none;
}
#customTimeline[item-corpus='n_03'] .timeline__item:not(.time__n_03){
    display:none;
}
#customTimeline[item-corpus='n_04'] .timeline__item:not(.time__n_04){
    display:none;
}

/* Affichage condictionnel des dates selon le type de l'item */

#customTimeline[item-type='intro'] .timeline__itemPoint {
    display:none;
}

/* Affichage conditionnel du template */
.slideItem_data>.template__zoom, .slideItem_data>.template__intro {
    display: none;
}

.slideItem_zoom>.template__data, .slideItem_zoom>.template__intro {
    display: none;
}

.slideItem_intro>.template__data, .slideItem_intro>.template__zoom {
    display: none;
}

.item__badge {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: small;
    text-transform: uppercase;
    background-color: var(--color-n2);
    color: white;
    font-weight: 700;
}

.item h2 {
    font-weight: 500;
    color:var(--colorStorie);
}

/* Home */

.badge__intro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.badge__intro .item__badge {
    color: white;
    transform: rotate(10deg);
}

.item h1 {
    color: var(--colorStorie);
    font-size: 3em;
    line-height: 1;
    margin-bottom: .5em;
    font-weight: bold;
}

#corpusCardsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
}

.corpus__card {
    background-color: var(--color-n2);
    width: 32%;
    min-height: 9em;
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 15px 25px;
    text-decoration: none;
    margin-bottom: .5em;
    margin-left: 0.5em;
    transition: all .2s ease-out;
}

.corpus__card:hover {
    transform: rotate(-2deg);
    opacity: .9;
}

.corpus__card > div > img {
    width: 3.5em;
}

.corpus__card > div:has(img) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.corpus__cardTitle {
    font-family: "DM Serif Text", serif;
    font-size: 21px;
    color: white;
    text-decoration: none !important;
    line-height: 1.2;
}

/* Slide */

.slide__item p > a {
    color: var(--colorStorie);
    font-weight: 800;
    text-decoration: none;
    border-bottom: 2px solid var(--colorStorie);
}

.slide__item p > a:hover {
    background-color:color-mix(in srgb, var(--color-c_04) 80%, white);
}

.templateZoom__header h2 {
    color: white;
}

.templateZoom__body {
    background-color: white;
    padding: 1em 2em;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}

.templateZoom__header {
    padding: 1em 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


.templateZoom__header img {
    width: 4em;
}

/* Data */

.corpus_dataList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
}

.corpus_dataList.c_01 > .corpus__card{
    background-color: color-mix(in srgb, var(--color-c_01) 20%, white);
}

.corpus_dataList.c_01 .corpus__cardTitle{
    color: var(--color-c_01)!important;
}

.corpus_dataList.c_02 > .corpus__card{
    background-color: color-mix(in srgb, var(--color-c_02) 20%, white);
}

.corpus_dataList.c_02 .corpus__cardTitle{
    color: var(--color-c_02)!important;
}

.corpus_dataList.c_03 > .corpus__card{
    background-color: color-mix(in srgb, var(--color-c_03) 20%, white);
}

.corpus_dataList.c_03 .corpus__cardTitle{
    color: var(--color-c_03)!important;
}

.corpus_dataList.c_04 > .corpus__card{
    background-color: color-mix(in srgb, var(--color-c_04) 20%, white);
}

.corpus_dataList.c_04 .corpus__cardTitle{
    color: var(--color-c_04)!important;
}

.corpus_dataList.c_05 > .corpus__card{
    background-color: color-mix(in srgb, var(--color-c_05) 20%, white);
}

.corpus_dataList.c_05 .corpus__cardTitle{
    color: color-mix(in srgb, var(--color-c_05) 84%, black)!important;
}

.corpus_dataList.c_06 > .corpus__card{
    background-color: color-mix(in srgb, var(--color-c_06) 20%, white);
}

.corpus_dataList.c_06 .corpus__cardTitle{
    color: var(--color-c_06)!important;
}

.corpus_dataList.c_07 > .corpus__card{
    background-color: color-mix(in srgb, var(--color-c_07) 20%, white);
}

.corpus_dataList.c_07 .corpus__cardTitle{
    color: var(--color-c_07)!important;
}

/* Data corpus */

.tplData_metadata {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.metadata_title {
    font-size: small;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colorStorie);
    line-height: 1.1;
    margin-bottom: .5em;
}

.data_metada {
    max-width: 20%;
}

.data_metada > p {
    line-height: 1.1;
}

.tplData_img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.tplData_img a {
    position: absolute;
    background-color: #f9f9f9;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    margin: 5px;
    color: var(--bs-body-color);
}

.tplData_img a:hover {
    opacity: .8;
}

.btn__doc {
    background-color: var(--colorStorie);
    color: white;
    border-radius: .7em;
    transition: all .2s ease-in-out;
}

.btn__doc:hover {
    opacity: .9;
    background-color: var(--colorStorie);
    color: white;
}

.tplData_sound audio {
    width: 100%;
}